

<h1>ProviderConfiguration</h1>

<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="Dashboard" method="post" class="form-horizontal">
    <div>
        <p>
                <button type="submit" class="btn btn-primary" name="provider" value="ExactOnline" title="Log in using your ExactOnline account">ExactOnline</button>
        </p>
    </div>
</form>