<div id="configTypeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Opslaan methode</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p>Het opslaan van de orders kan op verschillende manieren. Het geldt vanaf wanneer u een order upload of laat uploaden.</p>
                <p>
                    <b>Handmatig opslaan: </b> U kunt uw opgeslagen order nog inzien om eventueel dingen te wijzigen of nacontrole toe te passen. Ook het aanmaken voor producten in uw order kan aangepast worden mocht het nog niet Exact staan.
                </p>
                <p>
                    <b>Alleen producten handmatig opslaan, de rest automatisch: </b> Orders zullen automatisch worden doorverwezen naar Exact tenzij er onbekende producten tussen staan, die kunt u nog aanpassen, mocht die al in Exact bekend zijn wordt de order automatisch toegevoegd.
                </p>
                <p><b>Alles automatisch oplaan: </b> Orders en producten worden automatisch aangemaakt op basis voorgestelde generieke naam en productgroep.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Sluit</button>
            </div>
        </div>

    </div>
</div>