@model Areas.ExactOnline.Models.Dashboard.ImportFileVM

<div id="importFileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Importeer uw Order</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                <form asp-action="ImportOrder" asp-controller="Import" asp-area="ExactOnline" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label" asp-for="File">Bestand</label>
                        <input type="file" class="form-control-file" name="File" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="SupplierId"></label>
                        <select class="form-control" asp-for="SupplierId" asp-items="@Model.Suppliers"></select>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Upload" id="fileInput" hidden/>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="document.getElementById('fileInput').click();">Upload</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
                </div>
            </div>

        </div>
    </div>
</div>